%article.word
  .word-graph

    %h1
      %span.pre Words related to
      %span.word{:'data-word-id' => @word.id, :'data-word-url' => word_url(@word)}
        = @word

    %ul
      - @word.related_words.each do |w|
        %li
          = link_to w, word_path(w), { class: 'word',
                                       :'data-word-id' => w.id,
                                       :'data-word-url' => word_url(w) }

= link_to 'Edit', edit_word_path(@word)
= link_to 'Back', words_path
%p#notice= notice
