<p id="notice"><%= notice %></p>

<h1>Words related to <%= @word %></h1>
<ul>
  <% @word.related_words.each do |w| %>
    <li><%= link_to w, word_path(w) %></li>
  <% end %>
</ul>

<%= link_to 'Edit', edit_word_path(@word) %> |
<%= link_to 'Back', words_path %>
