!!! 5
%html
  %head
    %title WordsRelatedTo
    = stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true
    = stylesheet_link_tag 'http://fonts.googleapis.com/css?family=Cardo:400,700,400italic', media: 'all'
    = javascript_include_tag "application", "data-turbolinks-track" => true
    = csrf_meta_tags
  %body
    = yield
